<launch>
    <arg name="memsense_config_file" default="$(find memsense_nano_imu)/config/imu.yaml"/>
    <node name="imu_driver" pkg="memsense_nano_imu" type="imu_node" output="screen">
        <rosparam file="$(arg memsense_config_file)" command="load"/>
    </node>
<!--     <node name="imu_filter" pkg="imu_complementary_filter" type="complementary_filter_node" >
        <param name="publish_tf" value="true" />
        <param name="use_mag" value="true" />
        <param name="publish_debug_topics" value="true" />
    </node> -->
    <node name="imu_filter" pkg="imu_filter_madgwick" type="imu_filter_node" >
        <param name="publish_tf" value="true" />
        <param name="use_mag" value="true" />
        <param name="use_magnetic_field_msg" value="true" />
        <param name="publish_debug_topics" value="true" />
        <param name="world_frame" value="ned" />
    </node>
    <node pkg="tf" type="static_transform_publisher" name="imu_ned_to_enu" args="0.0 0.0 0.0 0.0 0.0 3.1415 imu_link_ned imu_link 10" />
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find memsense_nano_imu)/launch/imu.rviz"/>
</launch>
